body .addcolor {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: red; }
  body .addcolor p {
    color: blue; }

body .addcolor1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center; }
